header {
    display: flex;
    height: 50px;
    padding-left: 5px;
    background-color: var(--grey-20);

}


.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    font-family: Inter;
    font-style: normal;
}

    .form-container h1 {
        color: var(--pink-100);
        font-size: 2em;
    }

    .form-container .field {
        width: 246px;
        height: 42px;
        border: none;
        border-radius: 4px;
        padding-left: 10px;
        outline: none;
        background-color: var(--grey-20);
    }

    .form-container .form-register-button {
        border: none;
        background-color: var(--pink-100);
        height: 35px;
        color: white;
        width: 120px;
        border-radius: 4px;
        font-family: Inter;
    }

   