@keyframes animationButtonsFirst {

  from{background-color: #fff; width: 55px;}
  to{background-color: var(--pink-100); color: #fff; width: 150px;}
}

@keyframes animationButtonsSecond {
  from{background-color: #fff; width: 62px;}
  to{background-color: var(--pink-100); color: #fff; width: 150px;}
}

@keyframes animationModal {
  from{opacity: 0;}
  to{opacity: 1;}
}

@keyframes closeDialog {
  from{background-color: #fff; color: #000;}
  to{background-color: var(--pink-100); color: #fff;}
}

@keyframes animationProductItem {
  from{background-color: #fff; color: #000;}
  to{background-color: var(--pink-100); color: #fff ;}
}

header {
  height: 110px;
  padding-right: 30px;
  }

  header > img,input {
      display: block;
  }

  header > img {
      margin-top: 10px;
      margin-left: 10px;
      width: 140px;
  }

  header > div > img {
      margin-top: 10px;
      margin-left: 10px;
      width: 140px;
  }

  header > div > input {
      width: 100%;
      height: 40px;
      margin-left: 10px;
      margin-top: 20px;
      background-color: var(--grey-30);
      border-radius: 12px;
      border: none;
      padding-left: 40px;
      font-family: 'inter';
      font-weight: 400;
      font-size: 16px;
  }

  header > div > input:hover {
      border: 1.5px solid #212529;
  }

  .icon-search {
      position: absolute;
      width: 18px;
      height: 18px;
      top: 69px;
      left: 10px;
  }

  .icon-modal {
    cursor: pointer;
      position: absolute;
      top: 15px;
      right: 10px;
  }
  .container-modal-login {
      display: none;
      position: absolute;
      top: 51px;
      right: 30px;
      background-color: rgb(153, 153, 153, 0.25);
      text-align: right;
      width: 170px;
      border: 1px solid rgb(153, 153, 153, 0.25);
      border-radius: 10px 0px 10px 10px;
      z-index: 1;
      animation-name: animationModal;
      animation-fill-mode: forwards;
      animation-duration: 2s;
      backdrop-filter: blur(17px);
      }
  
      .container-modal-login > button {
          display: block;
          margin-left: auto;
          margin-right: auto;
          margin-top: 5px;
          margin-bottom: 5px;
          border: none;
          border-radius: 5px;
          font-size: 16px;
          font-family: 'Poppins';
          background-color: rgb(153, 153, 153, 0);
          white-space: nowrap;
      }
  
      .container-modal-login > h3 {
          text-align: center;
          margin-top: 5px;
          margin-bottom: 10px;
          font-family: 'Poppins';
          color: var(--pink-100);
        }

          .first-button-modal:hover {
            animation-name: animationButtonsFirst;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }

        .second-button-modal:hover {
            animation-name: animationButtonsSecond;
            animation-duration: 2s;
            animation-fill-mode: forwards;
        }


.ul-buttons {
  overflow: auto;
  display: flex;
  margin-left: 10px;
  margin-top: 20px;
  }

  .ul-buttons > button > img {
      padding-left: 5px;
      padding-right: 5px;
  }

  .ul-buttons > button {
      border: none;
      background-color: #fff;
      background-color: var(--pink-40);
      border-radius: 30px;
      padding-right: 8px;
      font-size: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 48px;
  }

  .ul-buttons > button:hover {
    animation-name: animationProductItem;
    animation-fill-mode: forwards;
    animation-duration: 2s;
  }
  
  .button-bread, .button-fruit, .button-glass {
      margin-left: 20px;
  }
  
  .ul-buttons > .button-bread {
      width: 150px;
  }

  .ul-buttons > .button-all {
      padding-left: 25px;
      padding-right: 25px;
  }

  .ul-buttons > button:focus {
      color: #fff;
      background-color: var(--pink-100);
  }

  .create-product {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--grey-10);

    border: none;
    background: var(--pink-100);

    padding: 14.5px 19px;

    border-radius: 32px;

    display: block;

    margin: 10px auto 0;
  }

  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
  }
  
.column-titles {
  display: none;
}

.product-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  overflow-x: auto;

  margin-top: 28px;
  margin-bottom: 100px;
}

.product-list .product-item {
  margin: 0 25px;

  border: 1px solid var(--grey-30);
  border-radius: 12px;
}

.product-list .product-item > * {
  padding: 0 15px;
}

.product-list .product-item > :first-child {
  padding: 0;
}

.product-list .product-item > :last-child {
  padding-bottom: 10px;
}

.product-list .product-item figure,
.product-list .product-item figure * {
  border-radius: inherit;
}

.product-list .product-item figure img {
  width: 300px;
  height: 200px;
}

.product-list .product-item figure figcaption {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  margin-top: 10px;
  padding: 0 15px;
}

.product-item .product-item__categories {
  margin-top: 16px;
}

.product-item .product-item__category {
  display: inline-block;
  background: var(--grey-10);
  padding: 3px 18px;

  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--grey-40);

  border-radius: 8px;
}

.product-item .product-item__description {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  max-width: 100%;

  height: 100px;

  overflow-y: auto;

  color: var(--grey-40);

  margin-top: 16px;
}

.product-item .product-item__actions {
  margin-top: 16px;
}

.product-item .product-item__actions li {
  display: inline-block;
}

.product-list .product-item__actions li + li {
  margin-left: 15px;
}

.product-item .product-item__actions li button {
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 50%;
}

.product-item .product-item__actions li button:hover {
  animation-name: animationProductItem;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.create-modal {
  width: 496px;

  padding: 0;

  position: relative;
  display: block;
  border: none;
  border-radius: 8px;
}


.create-modal header {
  background: var(--grey-10);

  padding: 20px 28px;
}

.create-modal header h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;

  line-height: 30px;
}

.create-modal form {
  padding: 28px 36px;
}

.btn-delete-edition {
  border: 1.5px solid #F8F9FA;
  background: #F8F9FA;
  border-radius: 32px;
  width: 192px;
  height: 52px;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.btn-delete-edition:hover {
  animation-name: closeDialog;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

menu > .btn-edit-submit {
  margin: 0px;
  display: inline-block;
  height: 52px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-top: 10px;
}


.create-modal form label {
  display: inline-block;
  margin-bottom: 16px;

  font: 400 14px 'Inter', sans-serif;
}

.create-modal form label:hover {
  animation-name: closeDialog;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.create-modal form input[type="text"],
.create-modal form input[type="number"] {
  width: 100%;

  padding: 20px 18px;

  background: var(--grey-10);
  font: 400 16px 'Inter', sans-serif;

  border-radius: 12px;
  border: 2px solid #DEE2E6;

  margin-bottom: 40px;
}

.radio-group {
  margin-bottom: 40px;
}

.create-modal:not([open]) {
  display: none;
}

.create-modal form input[type="radio"] {
  display: none;
}

.create-modal form input[type="radio"] + label {
  display: inline-block;
  cursor: pointer;

  font: 500 14px 'Inter', sans-serif;
  color: var(--grey-40);

  padding: 11px 26px;

  background: var(--grey-10);

  border-radius: 32px;
}

.create-modal form input[type="radio"][checked] + label {
  color: var(--grey-10);

  background: var(--pink-100);
}

.create-modal form .btn-submit {
  width: 100%;
  margin: 0;
}

.create-modal .close-dialog {
  position: absolute;
  top: 20px;
  right: 28px;
  padding: 5px 11px;
  color: var(--grey-40);
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

  border: none;
  border-radius: 4px;
}

.create-modal .close-dialog:hover {
  animation-name: closeDialog;
  animation-fill-mode: forwards;
  animation-duration: 2s;
}

.create-modal.status-info,
.create-modal.status-error {
  position: fixed;
  top: auto;
  bottom: 29px;
  right: 14px;
  left: auto;
  margin: 0;
}

.create-modal .message {
  margin: 15px 28px 26px;
  font: 400 14px 'Poppins', sans-serif;
}

.create-modal.status-info .bottom-color {
  background: var(--green-100);
}

.create-modal.status-error .bottom-color {
  background: var(--pink-100);
}

.create-modal .bottom-color {
  height: 8px;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.delete-modal {
  border: none;
  border-radius: 8px 8px 8px 8px;
  background: #FFFFFF;
  padding: 0px;
  }

  .delete-modal > header {
    width: 362px;
    height: 70px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: none;
    background-color: var(--grey-10);
  }
  .delete-modal > header > h3 {
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 25px;
    padding-top: 25px;
  }
  
  .delete-modal > h2 {
    margin-top: 50px;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
  }


  .delete-modal > menu {
    width: 362px;
    height: 150px;
    position: relative;
  }

  .delete-modal > menu > button:first-child {
    position: absolute;
    top: -165px;
    left: 320px;
    background: #E9ECEF;
    border-radius: 4px;
    padding: 5px 11px;
    color: var(--grey-40);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border: none;
  }

  .delete-modal > menu > button:first-child:hover {
    animation-name: closeDialog;
    animation-fill-mode: forwards;
    animation-duration: 2s;
  }

  .btn-option {
    width: 210px;
    height: 52px;
    border-radius: 32px;
    border: 1.5px solid #F8F9FA;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }

@media only screen and (min-width: 1100px) {
  header {
    display: flex;
    padding-right: 60px;
    height: 72px;
    box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.25);
}

    header > div > input {
        width: 310px;
        margin-left: auto;
        display: inline-block;
        z-index: -1;
    }

    header > img {
        width: 120px;
    }
    
    header > div {
        margin-left: auto;
        position: relative;
        margin-right: 120px;
    }
    
    .logo-kenzie {
        margin-left: 100px;
    }

    .icon-search {
        z-index: 1000;
        position: absolute;
        margin-left: auto;
        margin-right: -20px;
        top: 22px;
        left: 13px;
    }
    
    .icon-modal {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 10px;
    }
    
    .icon-modal {
        top: 24px;
    right: 130px;
}

    .container-modal {
        top: 59px;
        right: 148px;
    }

    .container-modal-login {
        top: 59px;
        right: 148px;
    }

.buttons-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.create-product {
  height: 48px;
  margin: 0 115px;
}
    
.ul-buttons {
    margin-left: 100px;
    margin-bottom: 40px;
    margin-top: 50px;
}

  .column-titles {
    display: flex;
    align-items: center;
    justify-content: space-around;

    margin: 58px auto 0 auto;
    padding-left: 20px;
    width: 85.8vw;

    font-family: 'Poppins', sans-serif;
    font-size: 14px;

    color: var(--grey-40);
  }

  .column-titles :first-child,
  .product-list .product-item > :first-child {
    width: 332px;
    margin-right: 0;
  }
  .column-titles :nth-child(2),
  .product-list .product-item > :nth-child(2) {
    width: 459px;
  }
  .column-titles :nth-child(3),
  .product-list .product-item > :nth-child(3)  {
    width: 452px;
  }
  .column-titles :last-child,
  .product-list .product-item > :last-child  {
    width: 103px;
  }

  .product-list {
    flex-direction: column;
  }

  .product-list .product-item {
    padding: 12px 20px;
    margin: 0;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 85.8vw;
  }

  .product-list .product-item > :last-child {
    padding: 0;
  }

  .product-list .product-item figure {
    margin-right: 42px;
  }

  .product-list .product-item figure img {
    width: 32px;
    height: 32px;

    border-radius: 50%;

    vertical-align: bottom;

    margin-right: 24px;
  }

  .product-list .product-item figure figcaption {
    display: inline-block;
    line-height: 32px;

    margin-top: 0;
    padding: 0;
  }
  
  .product-list .product-item__categories,
  .product-list .product-item__description,
  .product-list .product-item__actions {
    margin-top: 0;
  }

  .product-list .product-item__description {
    overflow: hidden;
    height: 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .product-list .product-item__category + .product-item__category {
    margin-left: 9px;
  }


.radio-group label:nth-of-type(2), .radio-group label:nth-of-type(3) {
  margin-left: 17px;
}


.delete-modal {
  border: none;
  border-radius: 8px 8px 8px 8px;
  background: #FFFFFF;
  padding: 0px;
  }

  .delete-modal > header {
    width: 496px;
    height: 70px;
    border-radius: 8px 8px 0px 0px;
    box-shadow: none;
    background-color: var(--grey-10);
  }
  .delete-modal > header > h3 {
    margin-top: 25px;
    padding-top: 0px;
  }
  
  .delete-modal > h2 {
    margin-top: 50px;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;

  }


  .delete-modal > menu {
    width: 496px;
    height: 150px;
    position: relative;
  }

  .delete-modal > menu > button:first-child {
    position: absolute;
    top: -126px;
    left: 420px;
    background: #E9ECEF;
    border-radius: 4px;
    padding: 5px 11px;
    color: var(--grey-40);
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    border: none;
  }

  .delete-modal > menu > button:first-child:hover {
    animation-name: closeDialog;
    animation-fill-mode: forwards;
    animation-duration: 2s;
  }

  .btn-option {
    width: 210px;
    height: 52px;
    border-radius: 32px;
    border: 1.5px solid #F8F9FA;
    margin-left: 20px;
    margin-top: 49px;
    display: inline-block;
  }

  .btn-delete-edition {
    border: 1.5px solid #F8F9FA;
    background: #F8F9FA;
    border-radius: 32px;
    width: 192px;
    height: 52px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    display: inline-block;
  }
  
  .btn-delete-edition:hover {
    animation-name: closeDialog;
    animation-fill-mode: forwards;
    animation-duration: 2s;
  }
  
  menu > .btn-edit-submit {
    margin: 0px;
    display: inline-block;
    height: 52px;
    margin-top: 10px;
    margin-left: 10px;
  }


}
